*.pyc
# Python
*__pycache__/*
*.py[cod]
*$py.class
*.so
*.tar
*/checkpoints

save_fig
work_dirs
scripts/train_ddp.sh
swanlog
*.pt
*.pth

debug
unilip_stage1/
unilip_stage1_imagenet/
wandb
data
unilip.egg-info